<head>

<style>
.footer {
	left:1%;
	right:0;
	bottom:0;
	position:fixed;
	}

.main{
	text-align: center;
	margin-top: 10%;
}
h1{
	font-size: 200;
}
p{
	text-decoration:none;
}
</style>
<title>
Test--Home
</title>
</head>
<body bgcolor="#000" link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">

	<font color="#fff">
	
		<div class="main">
			<h1>
				Test--Home
			</h1>
		</div>
		
		
		<a href="link1.html">
			<p>
				link1
			</p>
		</a>
		
	</font>
</body>